
# API Keys de Comunicación entre Apps
SELLER_API_KEY='poner_aqui_la_key_compartida'
BUYER_API_KEY='poner_aqui_la_key_de_la_buyer_app'
SHIPPING_API_KEY='poner_aqui_la_key_de_logistica'
PAYMENTS_API_KEY='poner_aqui_la_key_de_payments'

# URLs de los Microservicios (Locales para pruebas)
NEXT_PUBLIC_SELLER_URL=https://mateandoando-seller-app.vercel.app
NEXT_PUBLIC_BUYER_URL=https://proyecto-c-buyer2-mateandoando.vercel.app
NEXT_PUBLIC_PAYMENTS_URL=https://proyecto-c-payments-mateandoando.vercel.app
NEXT_PUBLIC_SHIPPING_URL=https://proyecto-c-shipping-mateandoando.vercel.app 